# Core packages
streamlit==1.43
pandas==2.0.3
numpy==1.24.4

# Additional packages required by others:
#connexion
#inflection
#PyYAML
#werkzeug
#flask-babel
#Babel
#panel
#bleach
#param
#pyct
#pyviz-comms
#tqdm
#tensorflow-intel
#h5py
#wrapt
#ultralytics
#matplotlib
#py-cpuinfo
#scipy
#seaborn